<!DOCTYPE html>
<html lang="en">
  <head>
   {{>header}}
  </head>
  <body>
    {{>navbar}}

    <!-- Header -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
              <div class="col-md-6 col-12 main-header-right">
                <figure>
                    <img src="images/about.jpg" class="img-fluid about-img" alt="about" srcset="">                
                </figure>
            </div>
            <div class="col-md-6 col-12 main-header-left">
              <p>welcome to weather app</p>
              <h1>
                I am A <span class="text_clr">MERN Stack Developer</span> and a freelancer</h1>
              <a href="https://myreact-reduxppp.herokuapp.com/" target="_blank"><button>About me</button></a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <footer>
      <p>
        <i class="fa fa-copyright" aria-hidden="true">
          Rajeev Bhumaik Solutions</i
        >
      </p>
    </footer>
  </body>
</html>
