<!DOCTYPE html>
<html lang="en">
  <head>
  {{>header}}
  </head>
  <body>
    {{>navbar}}

    <!-- Header -->
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-md-4 col-12 mx-auto align-items-center main-header-left">
          <p><span class="text_clr">welcome to weather app</span></p>
          <figure>
                    <img src="images/404-Error.png" class="img-fluid about-img" alt="error" srcset="">                
         </figure>
               
              <a href="/" ><button>{{errMsg}}</button></a>
        </div>
      </div>
    </div>
    <footer>
      <p>
        <i class="fa fa-copyright" aria-hidden="true">
          Rajeev Bhumaik Solutions</i
        >
      </p>
    </footer>
  </body>
</html>
